<section class="cv-section">
  <div class="cv-section__head">
    <div class="cv-section__icon">
      <i class="fa fa-book"></i>
    </div>
    <h2 class="cv-section__label text-uppercase">Education and training</h2>
  </div>  

  <% data.curriculum.prj.education_training.each do |training| %>
    <%= partial("partials/shared/cv-block",
        locals: {
          label: training.label,
          title: training.title,
          description: training.description
        }
      )
    %>
  <% end %>

</section>
