#contact-form{
  .input-group{
    margin-bottom: 30px;
    @include opacity(0.9);
    .input-group-addon{
      padding-left: 25px;
      border: 0;
      background-color: #ffffff;
      border-radius: 0;
      .fa{
        color: $main-color;
      }
    }
    .form-control{
      border: 0;
      height: 68px;
      background-color: #ffffff;
      border-radius: 0;
      @include box-shadow(none);
      &:focus{
        @include box-shadow(none);
      }
      @include placeholder($main-color);
    }
  }
}
