<div id="site-nav" class="navbar-collapse collapse">
  <ul class="main-nav nav navbar-nav navbar-right">
    <li class="main-nav__item">
      <a href="#home-link" class="main-nav__link" id="home-tab">home</a>
    </li>
    <li class="main-nav__item">
      <a href="#about-link" class="main-nav__link" id="about-tab">about me</a>
    </li>
    <li class="main-nav__item">
      <a href="#skills-link" class="main-nav__link" id="skills-tab">my skills</a>
    </li>
    <li class="main-nav__item">
      <a href="#works-link" class="main-nav__link" id="works-tab">my works</a>
    </li>
    <li class="main-nav__item">
      <a href="#contact-link" class="main-nav__link" id="contact-tab">contact me</a>
    </li>
  </ul>
</div>
