<div class="navbar-header">
  <button type="button" id="mobile-btn" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
