<ul class="social list-unstyled">
  <li class="social__item">
    <a href="https://www.facebook.com/ilaria.d.rosa.5" class="social__link">
      <i class="fa fa-facebook social__icon"></i>
    </a>
  </li>
  <li class="social__item">
    <a href="" class="social__link">
      <i class="fa fa-twitter social__icon"></i>
    </a>
  </li>
  <li class="social__item">
    <a href="https://www.linkedin.com/in/ilariadirosa/" class="social__link">
      <i class="fa fa-linkedin social__icon"></i>
    </a>
  </li>
  <li class="social__item">
    <a href="mailto:dirosa.ilaria@gmail.com" class="social__link">
      <i class="fa fa-envelope social__icon"></i>
    </a>
  </li>
</ul>
