<div class="chart">
  <div class="chart__container wow" data-percent="<%= percentage_text %>">
    <span class="chart__percentage">
      <%= percentage_text %>%
    </span>
  </div>
  <h2 class="text-center chart__label">
    <%= skill_name %>
  </h2>
</div>
