<div class="cv-block row">
  <div class="cv-block__label col-md-4">
    <%= label %>
  </div>
  <dl class="cv-block__body col-md-8">
    <dt class="cv-block__title">
      <%= title %>
    </dt>
    <dd class="cv-block__description">
      <%= description %>
    </dd>
  </dl>
</div>
