<!-- Nav Section -->
<nav id="header" class="navbar navbar-fixed-top">
  <div class="container">
    <%= partial 'partials/mobile-nav' %>
    <%= partial 'partials/main-nav' %>
  </div>
</nav>
<!--  end  -->
