<!-- Nav Section -->
<header id="header" class="navbar navbar-fixed-top">
  <div class="container">
    <%= partial 'partials/mobile-nav' %>
    <%= partial 'partials/main-nav' %>
  </div>
</header>
<!--  end  -->
