<!-- Slide Section -->
<section id="slide" class="hidden-xs">
  <a id="home-link"></a>
  <!--  Section Introduction Message  -->
  <div class="container">
    <%= partial "partials/intro-message" %>
  </div>
  <!--  end  -->
</section>
<!--  end  -->
