<!-- Works Section -->
<section id="works-section" data-highlight="#works-tab">
  <a id="works-link"></a>
  <header class="works-header">
    <div class="container">
      <h1 class="section-title text-center text-uppercase bounceIn wow" data-wow-duration="1s" data-wow-delay="0s">
        My <span>Works</span> <i class="fa fa-pencil"></i>
      </h1>
    </div>
  </header>
  <div class="works-contents">
    <div class="container">
      <div class="row">
        <% data.works.list.each do |item| %>
          <article class="col-md-4">
            <%= partial('partials/shared/work-block',
                locals: {
                  alt_text: item.alt_text,
                  image_item: image_path(item.image),
                  title_item: item.title,
                  id_item: item.id
                }
              )
            %>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!--  end  -->
