.chart{
  .chart__container{
    position: relative;
    @include size(170px, 170px);
    margin: 0 auto 50px;
    .chart__percentage{
      line-height: 170px;
      @include font-face(35px, #ffffff);
    }
    canvas{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__label{
    text-transform: uppercase;
    @include font-face(24px, #ffffff);
    margin: 0 0 90px;
  }
}
