.photo-frame{
  @include box-shadow(0px 0px 8px rgba(0,0,0,0.5));
  max-width: 370px;
  .photo-frame__img{
    max-width: 100%;
  }
  @include respond-to(max-width, 991px) {
    display: none;
  }
  @include respond-to(min-width, 992px) {
    @include rotate(7deg);
  }
}
